textarea {
  border: none;
  background: #FFFFFF;
  color: #236668;
  font-family: monospace;
  font-size: 12px;
}


#object {
  position: absolute;
  width: 1px;
  height: 1px;
}

#logo {
  margin-top: -20px;
}

textarea#response {
  display: none;
}

hr {
  border-bottom: 1px solid #666666;
}

#breadcrumb {
  margin-bottom: 30px;
}

.step {
  opacity: 0.4;
}

button {
  display: none;
  border: 1px solid #236668;
  color: #236668;
  text-align: center;
  min-width: 250px;
}
.current-step-1 .step-1,
.current-step-2 .step-2,
.current-step-3 .step-3,
.current-step-1 .step-1 button,
.current-step-2 .step-2 button,
.current-step-3 .step-3 button {
  opacity: initial;
  display: initial;
}
.current-step-1 .step-1 textarea,
.current-step-2 .step-2 textarea,
.current-step-3 .step-3 textarea {
  border: 1px solid rgba(35, 102, 104, 0.6);
}

#loader {
  position: absolute;
  width: 250px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  top: calc(100vh - 100px);
  right: 0;
  background: #cccccc;
  border: 1px solid #236668;
  color: #236668;
}
